table {
  table-layout: fixed;
  width: 100%;
  border-spacing: 0px;
}

table td,
table th {
  padding: 8px;
}

table th {
  text-align: left;
}

table p {
  text-align: center;
  column-span: 100%;
}

table thead th {
  border-bottom: 1px solid rgb(33, 37, 41);
}

table tbody td {
  border-bottom: 1px solid rgb(222, 226, 230);
}

table tr td:first-child,
table th {
  font-weight: 700;
}

.table-pagination {
  display: flex;
  padding: 8px;
  justify-content: space-between;
  align-items: center;
  margin-top: 16px;
}

.table-pagination div {
  display: flex;
  gap: 16px;
  justify-content: space-between;
  align-items: center;
}

.table-pagination select {
  background-color: rgb(255, 255, 255);
  border: 1px solid rgb(206, 212, 218);
  border-radius: 4px;
  padding: 6px 12px;
}

.table-pagination svg {
  height: 32px;
  width: 32px;
  cursor: pointer;
}

.table-pagination span {
  border: 2px solid;
  border-radius: 4px;
  height: 32px;
  width: 32px;
  padding: 2px;
  text-align: center;
  cursor: pointer;
}

.table-pagination svg.disabled,
.table-pagination span.disabled {
  cursor: not-allowed;
  pointer-events: none;
  fill: rgb(206, 212, 218);
  color: rgb(206, 212, 218);
  border-color: rgb(206, 212, 218);
}
